@model HomeViewModel
@{
    ViewData["Title"] = "Update";
}

<section>
    <div class="container">
        <div class="row pt-3">
            <div class="col-12">
                <h3 class="mb-0 text-center">Football cart update</h3>
            </div>
        </div>
        <div class="row justify-content-center py-3">
            <div class="col-6">
                <a asp-action="Index" class="btn btn-warning"><i class="fas fa-long-arrow-alt-left"></i></a>
            </div>
        </div>
        <div class="row justify-content-center pt-3">
            <div class="col-6">
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="@Model.FootballPlayerId">Football Player</label>
                        <select asp-for="@Model.FootballPlayerId" class="custom-select" id="football-player" asp-items="@(new SelectList(Model.FootballPlayers, "Id", "Firstname"))">
                            <option selected disabled value="">Choose</option>
                        </select>
                        <span asp-validation-for="@Model.FootballPlayerId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="w-100" asp-for="@Model.CartId">Cart</label>
                        <div class="row">
                            @{
                                int counter = 1;
                                foreach (var item in Model.Carts)
                                {
                                    <div class="col-6">
                                        <div class="custom-control custom-radio">
                                            @if (item.Id == Model.CartId)
                                            {
                                                <input type="radio" id="customRadioInline@(++counter)" checked name="CartId" value="@item.Id" class="custom-control-input">
                                            }
                                            else
                                            {
                                                <input type="radio" id="customRadioInline@(++counter)" name="CartId" value="@item.Id" class="custom-control-input">
                                            }
                                            <label class="custom-control-label" for="customRadioInline@(counter)">
                                                <img class="w-50 mr-5" src="~/images/@item.Image" style="cursor: pointer" />
                                            </label>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <span asp-validation-for="@Model.CartId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.GameTimeId">Game</label>
                        <select asp-for="@Model.GameTimeId" class="custom-select" asp-items="@(new SelectList(@Model.GameTimes, "Id", "Date"))" id="game-time">
                            <option selected disabled value="">Choose</option>
                        </select>
                        <span asp-validation-for="@Model.GameTimeId" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex justify-content-end">
                        <button type="submit" class="btn btn-success"> Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}


