@model HomeViewModel
@{
    ViewData["Title"] = "Update";
}

<section id="home">
    <div class="container">
        @if (TempData["Operation"] != null)
        {
            <div class="row pt-3">
                <div class="col-12">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <p class="mb-0">Operation successful.</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        }
        <div class="row pt-3">
            <div class="col-12">
                <h3 class="mb-0 text-center">Update Football Player in Game time</h3>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-12 d-flex justify-content-between">
                <a asp-controller="GameTime" asp-action="Index" class="btn btn-warning"><i class="fas fa-long-arrow-alt-left"></i></a>
            </div>
        </div>
        <form method="post">
            <div class="row py-3">
                <div class="col-12">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Number</th>
                                <th scope="col">Select</th>
                                <th scope="col">Firstname</th>
                                <th scope="col">Lastname</th>
                                <th scope="col">Age</th>
                                <th scope="col">Position</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int counter = 0;
                                foreach (var item in Model.FootballPlayers)
                                {
                                    <tr>
                                        <th scope="row">@(++counter)</th>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                @if (Model.FootballPlayerGameTimes.Where(fpg => fpg.FootballPlayerId == item.Id).Count() != 0)
                                                {
                                                    <input data-football-players-id="@item.Id" type="checkbox" checked class="custom-control-input football-players-id" id="customCheck@(counter)">
                                                }
                                                else
                                                {
                                                    <input data-football-players-id="@item.Id" type="checkbox" class="custom-control-input football-players-id" id="customCheck@(counter)">
                                                }
                                                <label class="custom-control-label pointer-checkbox" for="customCheck@(counter)"></label>
                                            </div>
                                        </td>
                                        <td>@item.Firstname</td>
                                        <td>@item.Lastname</td>
                                        <td>@item.Age</td>
                                        <td>@Model.Positions.FirstOrDefault(p => p.Id == item.PositionId).Name</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group d-flex justify-content-end">
                <input asp-for="@Model.FootballPlayersId" type="hidden" />
                <input asp-for="@Model.GameTimeId" type="hidden" />
                <button type="submit" class="btn btn-success"> Edit</button>
            </div>
        </form>
    </div>
</section>
